{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/src/css/login.css' %}" />
{% endblock %}

{% block body %}
  <div class="container-fluid" style="background: var(--color-white-transparent);">
    <div class="text-center">
      <h2>Login</h2>
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'login' %}" method="POST" autocomplete="off" class="login-form">
      {% csrf_token %}

      <div class="container">
        <label for="username" class="form-label">Username or Email address</label>
        <input type="email" required name="username" placeholder="example@email.com" class="form-control" autocomplete="off" />
      </div>
      <div class="container">
        <label for="password" class="form-label">Password</label>
        <input type="password" required name="password" placeholder="my_Password432" class="form-control" minlength="6" autocomplete="off" />
      </div>

      <input class="btn btn-primary text-nowrap" type="submit" value="Login" />

      <div class="forgot-password">
        <p>
          <a href="#">Lost Your Password?</a>
        </p>
      </div>
      <div class="signup">
        <p><a href="{% url 'register' %}">Don't have an account?</a></p>
      </div>
    </form>
  </div>
{% endblock %}
