{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/src/css/main.css' %}" />
{% endblock %}

{% block body %}

  <div class="wrapper">



    <div class="container-fluid" style="max-width: 32rem; background: var(--color-white-transparent);">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img class="m-3" alt="taboola" src="{% static 'users/assets/images/taboola-logo.png' %}" />
            <img class="m-3" alt="btm" src="{% static 'users/assets/images/BTM_Logo_darker.png' %}" />
          </div>
        </div>
      </div>

      <div class="container-welcome">
        <div class="container-sm">
          <p>Welcome to the Taboola Travel Pre-approval portal!</p>
        </div>
        <div class="container-sm">
          <p>Before you continue, you need to know if you are adding any personal time to your trip , eithere before or after your business travel.</p>
        </div>
        <div class="container-sm">
          <p>If your answer is <b>NO</b> and you are flying for work with no personal alterations, select <b>Business</b></p>
        </div>
        <div class="container-sm">
          <p>If your answer is <b>YES</b> and you are adding personal time or are making itinerary alterations for personal reasons, select <b>Business and Personal</b></p>
        </div>

        <div class="container-contact-us container-sm">
          <p class="contact-us text-start">
            If you have any questions, contact Brickell Travel Management at <span>taboolae@brickelltravel.com</span> or (305) 856-8889 ext. 209 
          </p>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="button">Business</div>
            </div>
            <div class="col-sm-6">
              <div class="button">Business and Personal</div>
            </div>
          </div>
        </div>

        <div class="container-sm">
          <p class="contact-us text-danger">
            Please, choose an option to continue.
          </p>
        </div>

      </div>
    </div>

    <br />

    {% comment %} FORM {% endcomment %}
    <div class="container-fluid" style="background: var(--color-white-transparent);">

      {% comment %} FRAME {% endcomment %}
      <div class="container-sm" style="flex-direction: column; justify-content: center; align-items: flex-start;">

        {% comment %} CONTENT {% endcomment %}
        <form class="column-gap-sm-4" style="justify-content: flex-start; align-items: flex-start; padding: 3rem;">

          {% comment %} TITLE 1 {% endcomment %}
          <div class="col-md">
            <p class="text-capitalize text-center fw-bold" style="font-size: 28px">Traveler Information</p>

            <div class="row">
              <label class="form-label">* Traveler Name or Email Address</label>
              <input required type="text" name="username" placeholder="..." class="form-control" autocomplete="off" />
            </div>
          </div>
          <br />
          {% comment %} TITLE 2 {% endcomment %}
          <div class="col-md">
            <p class="text-capitalize text-center fw-bold" style="font-size: 28px">Business Travel</p>

            {% comment %} INPUTS {% endcomment %}
            <div class="row">
                <label for="floatingSelect" class="form-label">* Purpose of Travel</label>
                <select required class="form-select" id="floatingSelect">
                  <option selected>-- Select One --</option>
                  <option value="1">2001 OFFSITE AND WORKSHOP</option>
                  <option value="2">2002 CLIENT MEETINGS</option>
                  <option value="3">2004 CO WORKING TRAVEL</option>
                  <option value="4">2005 CONFERENCE PARTICIPATING</option>
                  <option value="5">2006 TABOOLA U</option>
                  <option value="6">2007 MANAGEMENT TRAINING</option>
                  <option value="7">2013 HACKATHON</option>
                  <option value="8">8100 SKO</option>
                </select>
            </div>

            <div class="row">
              <label class="form-label">* Who Are You Metting With / Which Conference / etc. ?</label>
              <input required type="text" name="username" placeholder="..." class="form-control" autocomplete="off" />
            </div>

            {% comment %} DATE AND TIME PICKERS {% endcomment %}
            <div class="row align-items-center">
              <label class="form-label">* When does your FIRST meeting / conference start?</label>

              <div class="col text-sm-start" style="padding-left: 0; padding-right: 0;">
                <label class="form-label" style="font-size: 12px;">Time</label>
                <input required type="time" name="username" class="form-control" autocomplete="off" />
              </div>
              <div class="col text-sm-start" style="padding-right: 0;">
                <label class="form-label" style="font-size: 12px;">Date</label>
                <input required type="date" name="date_f_conf_start" class="form-control" autocomplete="off" />
              </div>

            </div>
            
            <div class="row align-items-center">
              <label class="form-label">* When does your LAST meeting / conference end?</label>

              <div class="col text-sm-start" style="padding-left: 0; padding-right: 0;">
                <label class="form-label" style="font-size: 12px;">Time</label>
                <input required type="time" name="username" class="form-control" autocomplete="off" />
              </div>
            
              <div class="col text-sm-start" style="padding-right: 0;">
                <label class="form-label" style="font-size: 12px;">Date</label>
                <input required type="date" name="date_l_conf_end" class="form-control" autocomplete="off" />
              </div>
            </div>
              
            {% comment %} DROPDOWN BUTTONS {% endcomment %}
            <div class="row align-items-center">
              
              <label class="form-label">* Destination From?</label>
              <input required type="text" name="username" placeholder="Type Here" class="form-control" autocomplete="off" />
              
              <label class="form-label">* Destination From?</label>
              <input required type="text" name="username" placeholder="Type Here" class="form-control" autocomplete="off" />

            </div>

            {% comment %} TEXTAREAS {% endcomment %}
            <div class="row" style="margin-top: 1rem; padding-left: 0; padding-right: 0;">
              <label for="form-label">* How will you satisfy government regulations on domestic or international travel for the given destinations?</label>
              <div class="form-floating" style="padding-left: 0; padding-right: 0;">
                <textarea required class="form-control" style="height: 8rem;" placeholder="Type here" id="floatingTextarea1"></textarea>
              </div>
            </div>
              
            <div class="row" style="margin-top: 1rem; padding-left: 0; padding-right: 0;">
              <label for="form-label">Additional Travel:</label>
              <div class="form-floating" style="padding-left: 0; padding-right: 0;">
                <textarea class="form-control" style="height: 8rem;" placeholder="Type here" id="floatingTextarea1"></textarea>
              </div>
            </div>
              
            <div class="row" style="margin-top: 1rem; padding-left: 0; padding-right: 0;">
              <label for="form-label">Genneral Comments::</label>
              <div class="form-floating" style="padding-left: 0; padding-right: 0;">
                <textarea class="form-control" style="height: 8rem;" placeholder="Type here" id="floatingTextarea1"></textarea>
              </div>
            </div>

            <div class="row-sm">
              <input class="btn btn-primary" type="submit" value="Submit Approval Request" />
            </div>
              
          </form>

      </div>
    </div>


    
  </div>

{% endblock %}
