*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #0073B3;
    --color-success: #00bf8e;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);

    --color-black: #525250;
    --color-white: #f2f2f2;

    --color-bg-input: #fff;
    --color-text: #363739;
    --color-bg-button: #EBEBEB;
    --color-bg-button-hover: #000000;

    --transition: all 400ms ease;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: white;
    padding: 2rem;
    display: flex;
    outline: none;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

body,
input {
    font-weight: 300;
    font-family: "Lato", sans-serif;
}

body {
    position: relative;
    max-width: 1024px;
    width: 100%;
    padding: 1.5em;
    background: #f2f2f2;
}

.form-wrapper h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-text);
}

.form-wrapper form {
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin-top: 5rem;
    background: #f2f2f2;
}

.form-wrapper form .input-group {
    margin: 0 0 4rem .5rem;
    margin-bottom: 1rem;
}

.form-wrapper form .input-group label {
    font-size: .8em;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--color-text);
}

.form-wrapper form .input-field {
    width: 100%;
    margin: .5rem 0;
    min-width: 32rem;
    font-size: 18px;
    display: block;
    width: 100%;
    font: inherit;
    padding: .8rem;
    border: 1px solid #222;
    border-radius: 8px;
}

.form-wrapper form .input-field:focus {
    outline: none;
    border-color: var(--color-primary);
}

.button {
    background-color: var(--color-bg-button);
    max-width: fit-content;
    margin: 3rem 0 2rem 0;
}

.button input {
    cursor: pointer;
    border: .5px solid var(--color-text);
    background-color: var(--color-bg-button);
    transition: 0.2s;
    color: var(--color-text);
    font-size: 1.2em;
    font-weight: 700;
    transition: all .3s ease;
    width: 100%;
    padding: .5rem 2rem;
    border-radius: 6px;
}

.button input:hover {
    background-color: var(--color-bg-button-hover);
    color: var(--color-white);
    font-weight: 700;
    background: #000;
    outline: none;
    width: 100%;
}